@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap");

nav {
  display: Flex;
  position: absolute;
  z-index: 10;
}

nav > ul {
  list-style-type: none;
  /*  background-color: rgba(21, 43, 54, 0.712); 
  padding: 0rem 1rem 0.3rem 0.5rem;
  gap: 0.3rem;
/*   border-bottom: solid 0.1rem rgb(211, 218, 226); */
  position: relative;
  z-index: 10;
}

nav > ul::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 103%;
  height: 3.2rem;
  top:0rem;
  left: -1rem;
  background-color: rgba(21, 25, 36, 0.781);
  transform: skew(25deg,0);
}

nav > ul > li {
  background-color: rgba(48, 116, 175, 0.856);
  box-shadow: inset 0 0 0.2rem 0.05rem rgb(39, 56, 61);
  transform: skew(-25deg, 0);
  border-bottom: solid 0.1rem rgba(55, 81, 110, 0.966);
  border-left: solid 0.1rem rgba(55, 81, 110, 0.603);
  border-radius: 0 0 0.2rem 0.2rem;

  font-size: 1.5rem;
  font-weight: 800;
  font-family: "Bowlby One SC", cursive;
  color: rgb(216, 226, 230);
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

nav > ul > li::after {
  content: "";
  z-index: -1;
  transition: 0.3s;
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: rgba(47, 177, 144, 0.856);
  transform: skew(15deg, 0);
}
nav > ul > li:hover:after {
  content: "";
  position: absolute;
  width: 110%;
}

nav > ul > li:hover {
  color: rgb(228, 236, 240);
}
nav > ul > li > a {
  padding: 0.1rem 0.5rem 0.2rem 0.5rem;
}
