@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap");

nav {
  display: Flex;
  justify-content: end;
 position: absolute;
z-index: 10;
}

nav > ul {
  gap: 1rem;
  list-style-type: none;
  background-color: rgb(21, 43, 54);
  border-bottom: solid .1rem white;
  border-right: solid .1rem white;
  border-radius: 0 0 0.5rem 0 ;
}

nav > ul > li {
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 1.5rem;
  font-weight: 800;
  font-family: "Bowlby One SC", cursive;
  color: rgb(221, 227, 243);
  cursor: pointer;
  transition:.3s;
}

nav > ul > li:hover {
    color: rgb(241, 242, 247);

  }