 @media only screen and (max-width: 750px) {
    nav > ul {
      padding: 0.5rem .5rem .5rem .5rem;
 
    }
      nav > ul > li {
        padding: 0rem .5rem 0rem .5rem;
        font-size: 1.5rem;
        font-weight: 800;
        font-family: "Bowlby One SC", cursive;
        color: rgb(221, 227, 243);
        cursor: pointer;
        transition:.3s;
      }




/*       nav > ul > li {
        border-right: none;
        font-size: 1.3rem;
border-radius: 0;
      }
    */} 