
.divContainerProfile00{
  padding: 14rem 0 5rem 0;
}


.divContainerProfile02 {
  align-items: center;
  gap: 1rem;
  width: 13rem;
}

.divContainerProfile01 {
  margin: 2rem 0 0 0;
  padding: 3rem 5rem 3rem 5rem;
  gap: 3rem;
  justify-content: center;
  transition: 1s;
}

.divContainerProfile03 {
  gap: 1rem;
  align-items: center;
  transition: 1s;
}

.divContainerProfile04{
  padding: 1rem;
border-bottom:solid .1rem rgb(37, 83, 122);
border-top: solid .1rem rgb(37, 83, 122);
border-radius: 50%;
position: relative;

}



.divContainerProfile03 > h1 {
  font-size: 2rem;
  padding: .5rem 1rem .5rem 1rem;
  font-family: "Raleway", sans-serif;
  color: white;
  background-color: rgb(21, 43, 54);
}
.divContainerProfile03 > h2 {
  font-size: 1.5rem;
  text-align: center;
  font-family: "Raleway", sans-serif;
   padding: 1rem;
width: 70vw;
  color: rgb(37, 83, 122);
  border:solid .1rem rgb(66, 108, 148);
}

.divContainerProfile05 {
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: rgb(60, 81, 99);
  background-color: rgb(212, 226, 240);;
  width: 100%;
  text-align: center;
  padding: .3rem 0 .3rem 0;
}

.divContainerProfile06 {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 1.2rem;
  width: 100%;
  font-weight: 600;
  color: rgb(37, 83, 122);
}

.divContainerProfile07 {
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: 1s;
}

.divContainerProfile07 > h1{
  color: rgb(255, 255, 255);
  background-color: rgb(21, 43, 54);
  font-family: "Raleway", sans-serif;
  padding: .5rem 2rem .5rem 2rem;
  text-align: center;
  font-size: 2rem;
}

.divContainerProfile09 {
  background-color: rgb(212, 226, 240);
  width: 20rem;
  padding: 0.5rem 0 0.5rem 0;
}

.divContainerProfile09 > h2 {
  color: rgb(52, 77, 83);
  font-family: "Raleway", sans-serif;
  width: 100%;
  text-align: center;
}

.divContainerProfile08 {

  width: 45rem;
}
.divContainerProfile10 {
 
}

.divContainerProfile10 > h2 {
  font-family: "Raleway", sans-serif;
  color: rgb(37, 83, 122);
  font-size: 1.2rem;
  padding: .3rem 0 .3rem 1rem;
}

.divContainerProfile11 {
 border-radius: 0 0 .5rem .5rem;
  background-color: rgb(154, 187, 209);
  gap: .5rem;
  padding: .5rem 1rem .5rem 1rem;
}

.divContainerProfile11 > h3 {
  color: white;
  font-family: "Raleway", sans-serif;
  border: solid .1rem white;
  padding: .2rem .3rem .2rem .3rem;
  border-radius: .5rem;
}

.divContainerProfile07 {
  padding: 4rem 0 4rem 0;
}


.divContainerProfile12 {
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: 1s;
  padding: 2rem 0 0 0;
}

.divContainerProfile12 > h1{
  color: rgb(255, 255, 255);
  background-color: rgb(21, 43, 54);
  font-family: "Raleway", sans-serif;
  padding: .5rem 2rem .5rem 2rem;
  text-align: center;
  font-size: 2rem;
}

.divContainerProfile12 > h2 {
  font-size: 1.5rem;
  text-align: center;
  font-family: "Raleway", sans-serif;
  padding: 1rem;
  width: 70vw;
  border: solid .1rem rgb(66, 108, 148);
  color: rgb(37, 83, 122);
}

.divContainerProfile13{
  border-left:solid .1rem rgb(60, 81, 99);
  border-right:solid .1rem rgb(60, 81, 99);
  border-radius: 50%;
  padding: 4rem;
top:-.5rem;
left:-.6rem;
  animation-name: profileMovi;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  background-color: rgba(102, 95, 95, 0.123) ;
}

@keyframes profileMovi {
  100%{
    transform:rotate(360deg);
  }
}