@media only screen and (max-width: 750px) {
    .divContainerProfile03 > h2 {
        padding: 0 2rem 0 2rem;
      }
      .divContainerProfile12 > h2 {
        padding: 0 2rem 0 2rem;
      }
      .divContainerProfile08{
        width:85%;
      }

      .divContainerProfile09 {
        width: 85%;
      }
    }