.divTechnologies00{
    background-color: rgb(31, 34, 32);

}

.divTechnologies01{

    transition: 1s;
    gap:1rem;
    justify-content: center;
    align-items: center;
    padding: 4rem 0 1rem 0;
}

.divTechnologies01> h1{
background-color: white;
padding: 0.5rem 2rem 0.5rem 2rem;
font-family: "Raleway", sans-serif;
}

.divTechnologies02{
    gap:1rem;
    justify-content: center;
    padding: 1rem;
    background-color: rgb(38, 44, 48);
}

.divTechnologies03{
    width:8rem;
    justify-content: center;
    gap:.5rem;

}

.divTechnologies03>h4{
    background-color: rgb(47, 61, 80);
    padding: .5rem 0 .5rem 0;
    font-family: "Raleway", sans-serif;
    color: white;
    text-align: center;
    font-size: 1.4rem;
}

.imgTechnologies00{
    background-color: rgba(60, 81, 95, 0.459);
    border-radius: 20%;
    padding: .5rem;
    width:5rem;
    transition: .3s;
    filter: sepia(.3);
}

.imgTechnologies00:hover{
transform: scale(1.1); 
filter: sepia(0);
}

.divTechnologies04{
    display: flex;
    justify-content: center;
position: relative;
z-index: 1;
}

.divTechnologies04 > img{
    position: relative;
    z-index: 2;
}

.divTechnologies04 > div{
    top:-.5rem;
width: 7rem;
z-index: 1;
position: absolute;
animation-name: html5BackgroundMoviDiv;
animation-duration: 10s;
animation-timing-function: linear;
animation-iteration-count: infinite;
}

@keyframes html5BackgroundMoviDiv{
    100%{transform:rotate(360deg)}
}

.divTechnologies05{
    gap:1rem;
    padding: 2rem 8rem 2rem 8rem;
    justify-content: center;
}

.divTechnologies05> h2{
    font-family: "Raleway", sans-serif;
    background-color: white;
    padding: .2rem .5rem .2rem .5rem;
    border-radius: .2rem;
    box-shadow: 0rem .1rem .1rem .1rem white;
}