@media only screen and (max-width: 750px) {
  .divTechnologies00::after {
    width: 120%;
    right: -5%;
  }
  .divTechnologies00:hover:after {
    width: 120%;
  }

  .divTechnologies05 {
    padding: 2rem 8rem 2rem 8rem;
  }
}
