
footer{
    align-items: center;
    padding: 1rem 0 1rem 0;
    justify-content: center;
    gap: 1rem;
/*     background-color: #e5e9ee; */
    background: radial-gradient(circle, rgb(212, 226, 238) 0%, rgb(58, 93, 141) 51%, rgb(14, 30, 46) 100%);
}

footer > img{
    transition: .3s;
}

footer > img:hover {
background-color: rgb(149, 166, 192);
border-radius: 50%;
}

footer > h2{
    background-color: #1B1F23;
    color: white;
    padding: .3rem 1rem .3rem 1rem;
    border-radius: .5rem;
}