
.divContainerModel00{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.329);
    z-index: 2;
}

.divContainerModel00 > .divContainerModel01{
    width: 60rem;
    height:34rem;
     cursor:pointer;
}