.divContainerHeader01{
  gap:1rem;
  padding: 0 2rem 0 2rem;

}
.divContainerHeader01> a > button{
cursor: pointer;
}
.divContainerHeader01> a > button:hover{
  border:solid .1rem rgb(202, 204, 101);
  color: rgb(106, 191, 204);
  }
.divContainerHeader01> a {
  width: 17rem;
  }
.divContainerHeader01> a> button{
  transition: .3s;
  width: 17rem;
  padding: .5rem 0 .5rem 0;
  font-size: 1.5rem;
  color: white;
  background-color: rgb(21, 43, 54);
  border:solid .1rem white;
  
}
.divContainerHeader01 > h1:nth-child(1) {
  color: rgb(203, 214, 223);
  font-size: 5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.divContainerHeader01 > h1:nth-child(2) {
  color: aliceblue;
  font-size: 4rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: black;
    padding:.5rem 1rem .5rem 1rem;
    border-radius: 1rem;
    text-align: center;
}

.divContainerHeader01 > h1:nth-child(3) {
  color: aliceblue;
  font-size: 4rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    height: 6rem;
    overflow: hidden;
    position: relative;

}

.divContainerHeader01 > h1:nth-child(3)::after {
  content: "";
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: skillAnimation;
position: absolute;
  display: inline-block;
}
@keyframes skillAnimation {
  0% {
    color: rgb(204, 204, 35);
    content: "JavaScript";
    transform: translate(0, -5rem);
  }
  3% {
    transform: translate(0, 0);
  }
  22% {
    transform: translate(0, 0);
  }
  25% {
    color: rgb(204, 204, 35);
    transform: translate(0, 5rem);
    content: "JavaScript";
  }

  25.1% {
    color: rgb(118, 184, 238);
    transform: translate(0, 5rem);
    content: "React.js";
  }
  28% {
    transform: translate(0, 0);
  }
  47% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -5rem);
    color: rgb(118, 184, 238);
    content: "React.js";
  }
  50.1%{
    color: rgb(163, 216, 175) ;
    transform: translate(0, -5rem);
    content: "Node.js";
  }
  53%{
    transform: translate(0, 0);
  }
  72%{
    transform: translate(0, 0);
  }
  75%{
    transform: translate(0, 5rem);
    color: rgb(163, 216, 175);
    content: "Node.js";
  }
  75.1%{
    color: rgb(202, 218, 202);
    transform: translate(0, 5rem);
    content: "Express";
  }
  78%{
    transform: translate(0, 0);
  }
  97%{
    transform: translate(0, 0);
  }
  100%{
    color: rgb(202, 218, 202);
    transform: translate(0, -5rem);
    content: "Express";
  }
}

header {
  background: rgb(21, 43, 54);
padding: 4rem 0 0 0;
overflow: hidden;
}

.divContainerHeader00 {

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 2rem;
}

.divContainerFooterHeader {
  align-items: center;
  display: flex;
  height: auto;
  width: 100%;
}

.divContainerHeader02 {
  width:25rem;
}
