@media only screen and (max-width: 750px) {
  .divContainerHeader00 {
    flex-flow: column nowrap;
  }

  .divContainerHeader02 {
    width:20rem;
  }

.divContainerHeader01{
   
}

.divContainerHeader01 > h1:nth-child(1) {
    font-size: 2.5rem;
  }
  .divContainerHeader01 > h1:nth-child(2) {
    text-align: center;
      padding:.5rem;
/*       width:18rem; */
font-size: 3rem;
  }

  .divContainerHeader01 > h1:nth-child(3) {

    font-size: 3rem;
  }

  .divContainerHeader01 > h1:nth-child(3) {
      height: 4rem;
   
  
  }

  }