@media only screen and (max-width: 750px) {
 
  header{
    height: auto;
  }

  header {
  
    padding: 5rem 0 0 0;

  }




  header::after{
    width: 50%;

  }
  header:hover::after{
    width: 50%;
  }
  .divContainerHeader00 {
    padding: 1rem 0 4rem 0;
    flex-flow: column nowrap;
  }

  .divContainerHeader02 {
    width:20rem;

  }
  


.divContainerHeader01{
   padding: 1rem 0 0 0 ;
}

.divContainerHeader01 > h1:nth-child(1) {
    font-size: 2.5rem;
  }
  .divContainerHeader01 > h1:nth-child(2) {
    text-align: center;
      padding:.5rem;
/*       width:18rem; */
font-size: 3rem;
  }

  .divContainerHeader01 > h1:nth-child(3) {

    font-size: 3rem;
  }

  .divContainerHeader01 > h1:nth-child(3) {
      height: 4rem;
  
  }
  .divContainerHeader02::after {
    top:-10%;
    border-radius: 80% 40% 60% 50%;
    left:   -5%;
    content: "";
    z-index: -1;
    position: absolute;
    width: 200%;
    height: 130%;
    background-color: rgba(51, 96, 219, 0.336);
  }



  }