.divContainerSlider00 {
  background-color: rgb(30, 35, 41);
  padding: 4rem 0 4rem 0;
  align-items: center;
  gap: 1rem;
}

.divContainerSlider00 > h1 {
  background-color: white;
  padding: 0.5rem 2rem 0.5rem 2rem;
  font-family: "Raleway", sans-serif;
}

.divContainerSlider01 {
  /* box-shadow: inset 0 0 1rem 1rem rgb(34, 43, 51); */
  gap: 1rem;
  padding: 2rem 0 2rem 0;

  background-color: rgb(40, 50, 59);
  width: 100%;
  justify-content: center;
  align-items: center;
  position:relative;
}

.divContainerSlider02 {
  justify-content: center;

  box-shadow: inset 2rem 0 1rem 1rem wheat;
  transition: 0.5s;
  height: 20rem;
position: relative;
  align-items: center;
}

.divContainerSlider02 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: flex;
  justify-content: center;

}

.divContainerSlider02 > h2 {
top:3rem;
  width: 100%;
  background-color: rgb(44, 41, 41);
  text-align: center;
  position: absolute;
  z-index: 1;
  color: rgb(209, 183, 33);
  font-family: "Raleway", sans-serif;
}

.divContainerSlider02 > button {
  top:4.8rem;
  transition: .3s  ;
  cursor: pointer;
   padding: .2rem 1rem .2rem 1rem;
width: 100%;
border:none;
    background-color: rgb(38, 43, 70);
    font-weight:700;
    font-size: 1.3rem;
    text-align: center;
    position: absolute;
    z-index: 1;
    color: rgb(155, 169, 196);
    font-family: "Raleway", sans-serif;
  }
  .divContainerSlider02 > button:hover {
      background-color: rgb(67, 73, 109);
    
    }