.divContainerSlider00 {
  background-color: rgb(30, 35, 41);
  padding: 7rem 0 4rem 0;
  align-items: center;
  gap: 1rem;
  position: relative;
  z-index: 1;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.divContainerSlider00::after {
  content: "";
  position: absolute;
  background-color: rgb(53, 46, 92);
  width: 20%;
  height: 100%;
  top: 0;
  left: -15%;
  z-index: -1;
  transform: skew(-25deg, 0);
  transition: 1s;
}

.divContainerSlider00:hover::after {
  width: 65%;
}

.divContainerSlider00 > h1 {
  background-color: white;
  padding: 0.5rem 2rem 0.5rem 2rem;
  font-family: "Raleway", sans-serif;
}

.divContainerSlider01 {
  /* box-shadow: inset 0 0 1rem 1rem rgb(34, 43, 51); */
  gap: 2.5rem;
  transition: 1s;
  padding: 4rem 12vw 2rem 12vw;
  background-color: rgba(40, 50, 59, 0.534);
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
.divContainerSlider01::after {
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(38, 69, 153, 0.884) 0%, transparent 50%, rgba(25, 41, 62, 0.884) 100%);
  position: absolute;
}
.divContainerSlider04{
  position: absolute;
  left: 1rem;
  top:-2rem;
  z-index: 0;
  width: 18.5rem;
  height: 15rem;
  background-color: rgb(189, 188, 134);
  transition: .3s;
  clip-path: polygon(0% 20%, 100% 5%, 100% 80%, 0% 95%);
}
.divContainerSlider05{
  position: relative;
}

.divContainerSlider05:hover >.divContainerSlider04{
  height: 17rem;
  width: 19rem;
  clip-path: polygon(0% 15%, 100% 0%, 100% 80%, 0% 95%);
  background-color: rgb(189, 187, 84);
}


.divContainerSlider02 {
  justify-content: center;
  height: 10rem;
  width: 19rem;
  box-shadow: inset 2rem 0 1rem 1rem wheat;
  transition: 0.5s;
  height: 15rem;
  position: relative;
  align-items: center;
  filter: grayscale(80%);
  clip-path: polygon(0% 20%, 100% 0%, 100% 85%, 0% 95%);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.divContainerSlider03 {
  position: relative;
  z-index: 1;
  font-size: 1rem;
  font-weight: 800;
  color: rgba(242, 252, 244, 0.685);
  background-color: rgba(35, 73, 90, 0.925);
  font-family: "Raleway", sans-serif;
  width: 100%;
  display: flex;
  text-align: center;
  padding: 0.5rem 1rem 0.5rem 1rem;
}
.divContainerSlider02:hover {
  filter: grayscale(20%);
  clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
}

.divContainerSlider02 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: flex;
  justify-content: center;
  position: absolute;
}

.divContainerSlider02 > h2 {
  padding: 2.5rem 0 0.5rem 0;
  width: 100%;
  background-color: rgba(48, 60, 92, 0.945);
  text-align: center;
  position: relative;
  z-index: 1;
  color: rgb(219, 196, 65);
  font-family: "Raleway", sans-serif;
}

.divContainerSlider02:hover > button {
  opacity: 1;
}

.divContainerSlider02 > button {
  width: 7rem;
  transition: 0.3s;
  cursor: pointer;
  opacity: 0.8;
  padding: 0.2rem 1rem 0.2rem 1rem;
  top: 0.4rem;
  
  border: none;
  background-color: rgba(47, 108, 143, 0.842);
 
  font-weight: 700;
  font-size: 1.3rem;
  text-align: center;
  position: relative;
  z-index: 1;
  color: rgb(212, 217, 228);
  font-family: "Raleway", sans-serif;
}
.divContainerSlider02 > button:hover {
  background-color: rgb(59, 161, 130);
}
